<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">
    <context:annotation-config/>


    <!--bean-->
    <bean name="userServiceImpl" class="com.github.slimrpc.service.mock.UserServiceImpl"/>

    <!--代理的bean-->
    <bean name="providerClazz1" class="github.slimrpc.core.domain.ProviderClazz">
        <constructor-arg name="clazz" value="com.github.slimrpc.service.UserService"/>
        <constructor-arg name="bean" ref="userServiceImpl"/>
    </bean>

    <!--RPC 服务-->
    <bean name="rpcServer" class="github.slimrpc.core.api.SlimRpcServer" init-method="start" destroy-method="close">
        <!--监听端口-->
        <property name="listenPort" value="6200"/>
        <!--代理bean-->
        <constructor-arg name="providerClazzes">
            <list>
                <ref bean="providerClazz1"/>
            </list>
        </constructor-arg>
    </bean>


</beans>