<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">
    <context:annotation-config/>


    <!--bean-->
    <bean name="userServiceImpl" class="com.github.slimrpc.service.mock.UserServiceImpl"/>


    <!--RPC 服务-->
    <bean name="rpcServer" class="github.slimrpc.core.api.SlimRpcServer" init-method="start" destroy-method="close">
        <!--监听端口-->
        <property name="listenPort" value="6200"/>
    </bean>


</beans>