<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">

    <context:annotation-config/>

    <bean name="rpcClient" class="github.slimrpc.core.api.SlimRpcClient" init-method="start" destroy-method="close">
        <property name="serverList">
            <props>
                <prop key="localhost">6200</prop>
            </props>
        </property>
    </bean>

    <!--创建prxoy bean-->
    <bean name="userService" factory-bean="rpcClient" factory-method="createConsumerProxy">
        <constructor-arg value="com.github.slimrpc.service.UserService"/>
    </bean>

</beans>