<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!--bean-->
    <bean name="userServiceImpl" class="com.github.slimrpc.service.mock.UserServiceImpl"/>


    <!--服务端:代理类 -->
    <bean name="userServiceHolder" class="github.slimrpc.core.domain.ProviderHolder">
        <constructor-arg name="clazz" value="com.github.slimrpc.service.UserService"/>
        <constructor-arg name="refBean" ref="userServiceImpl"/>
    </bean>
    <!--RPC 服务-->
    <bean name="rpcServer" class="github.slimrpc.core.api.SlimRpcServer" init-method="start" destroy-method="close" autowire="byName">
        <!--监听端口-->
        <property name="listenPort" value="6200"/>
        <!--代理类-->
        <property name="providerList">
            <ref bean="userServiceHolder"/>
        </property>
    </bean>


</beans>